p {
    font-variant: small-caps;
    font-size: 20px;
}

h1 {
    font-variant: small-caps;
}

h2 {
    font-variant: small-caps;
    font-size: 30px;
}

.Inputs {
    width: 75px;
    border-radius: 5px;
}
 
body {
      margin: auto;
      width: 500px;
}

button {
    background-color: rgb(153, 255, 0);
    border-radius: 25px;
    padding: 10px;
    font-variant: small-caps;
    cursor: pointer;
}

button:hover {
   background-color: rgb(255, 238, 0);
}
